<%= semantic_form_for @quiz do |f| %>

<%= f.input :subcategory,  :as => :select, :collection => Subcategory.all %>

<!--% f.inputs do %-->
  <!--%= f.input :name %-->
  <%= f.input :title, :label => 'Name of Quiz'%> 
  <!--%= f.input :category, :label => 'Enter category' %--> 
  <!--%= f.input :subcategory, :label => 'Enter subcategory' %--> 
  
  
  <h3>Questions</h3>
  <div id='questions'>

    <%= f.semantic_fields_for :questions do |question| %>
      <%= render 'question_fields', :f => question %>
      <% end %>
    <div class='links'>

      <%= link_to_add_association 'Add a question', f, :questions %>
    </div>
  <!--% end %-->

  <%= f.actions do %> 
      <%= f.action :submit, :as => :button, :label => "Save" %>
 <% end %>
<% end %>
<!--% end %-->