<%= form_for @quiz do |f| %>
  <p class="field">
    <%= f.label :title, 'Quiz Title' %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.radio_button :is_private, true %> Private
    <%= f.radio_button :is_private, false, :checked => true %> Public
  </p>

    <% (1..5).each do |num| %>
    <p class="field">
      <%= f.label 'Question' %>
      <%= text_area_tag 'questions[]'  %> 
    </p>

    <p class="field">
      <%= f.label 'Answer' %>
      <%= text_area_tag 'questions[][answer]' %> 
    </p>
    <% end %>


  <p class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </p>
<% end %>