<%= semantic_form_for @quiz do |f| %>

  <br>
  <strong style="font-size:16px">Choose subcategory:</strong> &nbsp; <%= f.select :subcategory, @subcategories.map {|s| [s.name, s.id]} %>
  <br>
  <br>
  <%= f.input :title, :label => 'Name of Quiz'%> 
  
  
  <h4>Questions</h4>
  <div id='questions'>

    <%= f.semantic_fields_for :questions do |question| %>
      <%= render 'question_fields', :f => question %>
      <% end %>
    <div class='links'>

      <%= link_to_add_association 'Add a question', f, :questions %>
    </div>
  <!--% end %-->

  <%= f.actions do %> 
      <%= f.action :submit, :as => :button, :label => "Save" %>
 <% end %>
<% end %>
<!--% end %-->