<h1>Check to see if your quiz loaded correctly:</h1>
<p>If not, please check the data formatting in your CSV file and try again.<p>
<br>
Category: <strong><%= @category.name %></strong><br>
Subcategory: <strong><%= @subcategory.name %></strong>
Quiz Title: <strong><%= @quiz.title %></strong>

<ol>
  <% for question in @questions %>
    <li><%= question.text %></li>
    <ol>
   		<% for answer in question.answers %>
    	<li><%= answer.text %></li>
    	<% end %>
  	</ol>
  <% end %>
</ol>

 