<!DOCTYPE html>
<html>
<head>
  <title>Speed Learner</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

    
</head>

<body>

  <header class="navbar navbar-fixed-top">
        <nav class="navbar-inner">
          <div class="container">
            <%= render 'layouts/navigation' %>
          
          </div>
        </nav>
</header>
    
<%= yield %>


	<footer class="footer">
      <div class="container">
        <div class="row">
          <nav class="span4">
            <div class="navbar">
              <ul class="nav">
                <li><!--%= 
                  link_to_unless_current "Privacy policy", privacy_url
                %--></li>
                <li><!--%= 
                  link_to_unless_current "Terms of use", terms_url
                %--></li>
              </ul>
            </div>
          </nav>
          <p class="muted credit span8 text-right" style="padding: 50px 0">
            &copy; 2013 Life Capital Ltd
          </p>
        </div>
      </div>
    </footer>
</body>
</html>

     